.list {
  list-style: none;

  .list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    border-bottom: 1px solid $primary-color-transparent;
  }
}

input[type='checkbox']:checked + .list-description {
  opacity: 0.5;
  text-decoration: line-through;
}
