.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  color: $light-gray;

  &::backdrop {
    background: $primary-color-transparent;
  }

  &-outer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $primary-color-transparent;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  &-outer.open {
    opacity: 1;
    pointer-events: all;
  }
}
