// Flex Container
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Grid Container
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
  width: 100%;
}
